.link{
    margin-left: 1000px;
    background-color: blue;
    border: darkred;
    text-align: right;
}
a:link{
   color: rgb(0, 0, 0);
}
a:visited{
   color: silver;
}
p{
    color: black;
    background-color: red;
    text-align: center;
}